@model IndexViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <h1 class="page-header">
                My Blog
                <small>Check out the posts</small>
            </h1>
            <hr>
            <!-- Blog Posts -->
            @foreach (BlogPost bp in Model.Posts)
            {
                <h2 style="margin-top: 50px">
                    <a href="/home/displaypost?blogId=@bp.Id">@bp.Title</a>
                </h2>
                <p class="lead">@bp.BlogAuthor</p>

                <p><span class="fa fa-clock-o"></span> Posted on @bp.BlogDate.ToLongDateString() at @bp.BlogDate.ToShortTimeString()</p>
                <hr style="margin-top: 20px; margin-bottom: 18px">
                <p>@(bp.BlogText)...</p>
                <a class="btn btn-primary" href="/home/displaypost?blogId=@bp.Id">Read More <span class="fa fa-chevron-right"></span></a>
                <br />
                <hr>
            }
            <br /><br />
            <!-- Pager -->
            @{ int previous = Model.CurrentPage + 1;}
            @{ int next = Model.CurrentPage - 1;}

            <ul class="pagination">

                @if (@Model.TotalPages == @Model.CurrentPage)
                {
                    <li class="page-item disabled"><a class="page-link" href="/home/index?pagetodisplay=@previous">Older</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/home/index?pagetodisplay=@previous">Older</a></li>
                }

                @if (@Model.CurrentPage == 1)
                {
                    <li class="page-item disabled"><a class="page-link" href="/home/index?pagetodisplay=@next">Newer</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/home/index?pagetodisplay=@next">Newer</a></li>
                }

            </ul>
        </div>
    </div>
</div>
